<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>FindExample</display-name>
	<servlet>
		<display-name>exampleServlet</display-name>
		<servlet-name>exampleServlet</servlet-name>
		<servlet-class>cn.jlu.edu.FindEp.exampleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exampleServlet</servlet-name>
		<url-pattern>/exampleServlet</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>findServlet</servlet-name>
		<servlet-class>cn.jlu.edu.FindEp.findSevelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>findServlet</servlet-name>
		<url-pattern>/doFind</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
	</welcome-file-list>
</web-app>
